sudo: required
services:
- docker

before_install:
- docker build -t andreyohiienko/react-test -f ./client/Dockerfile.dev ./client

script:
- docker run -e CI=true andreyohiienko/react-test npm test

after_success:
- docker build -t andreyohiienko/multi-client ./client
- docker build -t andreyohiienko/multi-nginx ./nginx
- docker build -t andreyohiienko/multi-server ./server
- docker build -t andreyohiienko/multi-worker ./worker
# Log in to the docker CLI
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
# Take those images and push them it to docker hub
- docker push andreyohiienko/multi-client
- docker push andreyohiienko/multi-nginx
- docker push andreyohiienko/multi-server
- docker push andreyohiienko/multi-worker

deploy:
  edge: true
  provider: elasticbeanstalk
  region: us-east-2
  app: complex
  env: Complex-env
  bucket_name: elasticbeanstalk-us-east-2-108292904570
  bucker_path: docker-multi
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY